@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.restaurants .notif {
  padding: 0.5em 1em;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
  z-index: 1;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto", "sans-serif";
}

.logo {
  font-family: "shrikhand", "sans-serif";
}

a {
  text-decoration: none;
  color: black;
}

.page__section .title h1 {
  font-family: "Shrikhand";
  font-size: 1.8rem;
}

h4 {
  font-weight: 100;
  color: black;
  position: relative;
}

.nav__btn {
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 45px;
  border: hidden;
  font-size: 19px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 5px #C5C5C5;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
@media (min-width: 641px) {
  .nav__btn {
    max-width: 500px;
  }
}
.nav__btn:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 12px 10px #C5C5C5;
}

.fa-stack {
  margin: auto 0;
}
.fa-stack .far {
  padding: 0;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.fa-stack .fas {
  padding: 0;
  opacity: 0;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition: opacity 300ms 15ms ease-in-out;
}
.fa-stack:hover .far {
  opacity: 0;
}
.fa-stack:hover .fas {
  opacity: 1;
}

.loading-blur {
  position: fixed;
  z-index: 2;
  width: 0%;
  height: 0%;
  animation: blur-fade 1870.13ms linear 3629.87ms 1 normal backwards;
}
.loading-blur .loading-spinner {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 24vh;
  height: 21vh;
  display: flex;
  transform: translate(-50%, -50%);
}
.loading-blur .loading-spinner .load-bar {
  width: 3vh;
  margin: 0 5px;
  height: 100%;
  transform: scaleY(0);
  animation: loading-spinner 2s ease-in-out 2 alternate backwards;
}
.loading-blur .loading-spinner .load-bar:nth-child(1) {
  animation-delay: 250ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(2) {
  animation-delay: 500ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(3) {
  animation-delay: 750ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(4) {
  animation-delay: 1000ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(5) {
  animation-delay: 1250ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(6) {
  animation-delay: 1500ms;
}
.loading-blur .loading-spinner .load-bar:nth-child(1), .loading-blur .loading-spinner .load-bar:nth-child(4) {
  background-color: #9356DC;
}
.loading-blur .loading-spinner .load-bar:nth-child(2), .loading-blur .loading-spinner .load-bar:nth-child(5) {
  background-color: #FF79DA;
}
.loading-blur .loading-spinner .load-bar:nth-child(3), .loading-blur .loading-spinner .load-bar:nth-child(6) {
  background-color: #99E2D0;
}

@keyframes loading-spinner {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}
@keyframes blur-fade {
  0% {
    height: 100%;
    width: 100%;
    background-color: black;
  }
  50% {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    height: 100%;
    width: 100%;
    background: rgba 0, 0, 0, 0;
  }
}
@keyframes apparition {
  0% {
    transform: translate(0, 25%);
  }
  40% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.menu__card {
  animation: apparition 1500ms forwards;
}
.menu__card:nth-child(1) {
  animation-delay: 250ms;
}
.menu__card:nth-child(2) {
  animation-delay: 500ms;
}
.menu__card:nth-child(3) {
  animation-delay: 750ms;
}
.menu__card:nth-child(4) {
  animation-delay: 1000ms;
}
.menu__card:nth-child(5) {
  animation-delay: 1250ms;
}
.menu__card:nth-child(6) {
  animation-delay: 1500ms;
}
.menu__card:nth-child(7) {
  animation-delay: 1750ms;
}
.menu__card:nth-child(8) {
  animation-delay: 2000ms;
}
.menu__card:nth-child(9) {
  animation-delay: 2250ms;
}
.menu__card:nth-child(10) {
  animation-delay: 2500ms;
}

.restaurants__cards .card {
  animation: apparition 1s ease-out forwards;
}
.restaurants__cards .card:nth-child(1) {
  animation-delay: 3900ms;
}
.restaurants__cards .card:nth-child(2) {
  animation-delay: 4250ms;
}
.restaurants__cards .card:nth-child(3) {
  animation-delay: 4600ms;
}
.restaurants__cards .card:nth-child(4) {
  animation-delay: 4950ms;
}

.menu__card--checkout {
  background-color: #99E2D0;
  color: #FFF;
  justify-self: end;
  align-self: stretch;
  height: 100%;
  grid-area: 1/3/3/4;
  width: 0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: width 650ms 100ms;
}
.menu__card--checkout .fas {
  margin: auto;
  font-size: 1.5em;
  transform: rotate(0);
  transition: transform 650ms 100ms;
}

.menu__card:hover > .menu__card--checkout {
  width: 75px;
}
.menu__card:hover > .menu__card--checkout .fas {
  transform: rotate(-1turn);
}

header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  text-align: center;
  padding: 1em 0;
  box-shadow: 0 5px 5px #d2d2d2;
  position: relative;
  /** pour faire apparaitre l'ombre **/
}
.header__logo img {
  width: 75%;
  max-width: 350px;
}

.nav {
  text-align: center;
  background-color: #F6F6F6;
  padding: 1% 2.5% 3% 2.5%;
}
@media (min-width: 1025px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav h1 {
    width: 100%;
  }
  .nav p {
    width: 50%;
  }
  .nav .nav__btn {
    margin: 0 5%;
    width: 40%;
  }
}
.nav p {
  color: #717171;
  align-self: center;
  margin-bottom: 1em;
}

.loc {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #EAEAEA;
  font-weight: 600;
  color: #353535;
}
.loc p {
  padding-left: 2em;
}

.menu__pages nav {
  display: flex;
  padding: 2vh 1em;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .menu__pages nav {
    padding: 1em 10%;
  }
}
.menu__pages nav a {
  margin: auto 0;
  font-size: 3vmax;
}
.menu__pages nav img {
  padding: 0 17vw;
}
.menu__pages .invis__menu {
  color: #FFF;
  font-size: 3vmax;
}
.menu__pages .rest__pic {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .menu__pages .rest__pic {
    height: 320px;
  }
}

footer {
  padding: 1em 5%;
  background-color: #353535;
  color: #fff;
}
footer .logo {
  margin-bottom: 2vh;
  font-size: 1.5em;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer .fa-utensils {
  padding-right: 16px;
}
footer .fa-hands-helping {
  padding-right: 8px;
}
@media (min-width: 641px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }
}

section.menu {
  margin: 2em 5%;
}
section.menu .running__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 641px) {
  section.menu .running__card {
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  section.menu .running__card {
    justify-content: space-between;
  }
}
section.menu .running__card .etape {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 641px) {
  section.menu .running__card .etape {
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1025px) {
  section.menu .running__card .etape {
    width: 32%;
  }
}
section.menu .running__card .btn__nbr {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 2px 7px;
  position: absolute;
  color: #FFF;
  top: 1.6em;
  left: -10px;
}
section.menu .running__card .menu__button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 1.3em;
  background-color: #F6F6F6;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 5px #EAEAEA;
  font-size: 19px;
}
section.menu .running__card .menu__button .fas {
  color: #7E7E7E;
}
section.menu .running__card .menu__button .invis .fas {
  color: #F6F6F6;
}
section.menu .running__card .menu__button:hover {
  box-shadow: 0 12px 10px #EAEAEA;
  background-color: #f2eafb;
}
section.menu .running__card .menu__button:hover .fas {
  color: #9356DC;
}
section.menu .running__card .menu__button:hover .invis .fas {
  color: #f2eafb;
}

.restaurants {
  padding: 2em 5%;
  background-color: #F6F6F6;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants .card {
  width: 100%;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 5px 5px #E5E5E5;
}
@media (min-width: 641px) {
  .restaurants .card {
    width: 49%;
  }
}
@media (min-width: 1025px) {
  .restaurants .card {
    width: 24%;
  }
}
.restaurants .card__img {
  border-radius: 25px 25px 0 0px;
  object-fit: cover;
  object-position: center;
  height: 200px;
}
.restaurants .card__banner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.restaurants .card__txt {
  margin: 0 0 1em 1em;
}
.restaurants .card:hover {
  box-shadow: 0 12px 10px #E5E5E5;
}
.menu__body {
  background-color: #F6F6F6;
}
.menu__body header {
  background-color: white;
}

.page__section {
  position: relative;
  top: -50px;
  border-radius: 25px 25px 0 0;
  background-color: #F6F6F6;
  padding: 1em;
}
@media (min-width: 1025px) {
  .page__section {
    padding: 1em 10%;
  }
}
.page__section .title {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  padding-bottom: 1em;
}
.page__section .title h1 {
  margin: auto 0;
}
.page__section h4::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 35px;
  height: 3px;
  bottom: -4px;
}
.page__section .menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.page__section .menus__menu {
  width: 350px;
  margin: 5px;
}
@media (min-width: 1025px) {
  .page__section .menus__menu {
    width: 30%;
  }
}
.page__section .menus__menu .menu__card {
  opacity: 0;
  background-color: white;
  margin: 1em 0;
  border-radius: 20px;
  display: grid;
  grid-template-areas: "title ." "description price";
  grid-template-columns: auto min-content min-content;
  grid-gap: 5px;
  overflow: hidden;
  box-shadow: 0 5px 5px #E8E8E8;
}
.page__section .menus__menu .menu__card .menu__card--title {
  padding-top: 0.8em;
  padding-left: 0.8em;
  grid-area: title;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page__section .menus__menu .menu__card .menu__card--description {
  padding-bottom: 0.8em;
  padding-left: 0.8em;
  grid-area: description;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page__section .menus__menu .menu__card .menu__card--price {
  padding-bottom: 0.8em;
  padding-right: 1.5em;
  grid-area: price;
  justify-self: end;
  font-weight: 600;
}
.page__section .order__btn {
  text-align: center;
  padding-top: 1em;
}

/*# sourceMappingURL=style.css.map */
