.nav__btn{
    color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 45px;
    border: hidden;
    font-size: 19px;
    @include box-shadow(#C5C5C5);
    background-image: linear-gradient($color-secondary, $color-primary);   
    &:hover{
        background-image: linear-gradient($lighten-color-secondary, $lighten-color-primary);
        @include box-shadow-hover(#C5C5C5);
    }
}
.running__card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .etape{
        position: relative;
        margin: 1em;

    }
    .btn__nbr{
        background-color: $color-primary;
        border-radius: 100%;
        padding: 2px 7px;
        width: fit-content;
        position: absolute;
        color: #FFF;
        top: 1.6em;
        left: -10px;
    }
    .menu__button{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding: 1.3em 2em;
        background-color: $bckgrd-clr-gray;
        border: none;
        border-radius: 20px;
        @include box-shadow($bckgrd-clr-dgray);
        width: 350px;
        font-size: 19px;
        .fas{
            color: #7E7E7E;
        }
        .invis .fas{
            color: $bckgrd-clr-gray;
        }
        &:hover{
            @include box-shadow-hover($bckgrd-clr-dgray);
            background-color: lighten($color-primary, 35%);
            & .fas{
                color: $color-primary;
            }
            & .invis .fas{
                color: lighten($color-primary, 35%);
            }
        }
    }
}

.fa-heart{
    font-size: 1.8em;
    margin: auto 0;
}