.loading-blur{
    position: fixed;
    z-index: 10; 
    width: 100%;
    height: 100%;
    animation: blur-fade 2s 3s linear backwards;
    @include desktop{
        transform: translate( -100px ,0);
    }
    
    .loading-spinner{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: $size*8;
    height: $size*7;
    display: flex;
    transform: translate( -50%, -50%);
    
    

    .load-bar{
        width: $size;
        margin: 0 5px;
        height: 100%;
        transform: scaleY(0);
        animation: loading-spinner 2s 3s ease-in-out 2 alternate backwards;
        @for $i from 1 through 6{
             &:nth-child(#{$i}){
                 animation-delay: 250ms * $i;
            }
        }
        &:nth-child(1), &:nth-child(4){
         background-color: $color-primary;
         }
        &:nth-child(2), &:nth-child(5){
             background-color: $color-secondary;
         }
        &:nth-child(3), &:nth-child(6){
            background-color: $color-tertiary;
        }
     }
        
    }
}

@keyframes loading-spinner{
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1)
    }
    100%{
        transform: scaleY(0.1);
    }
    
}

@keyframes blur-fade{
    0%{
        background-color: rgba(0,0,0,1);
    }
    50%{
        background-color: rgba(0,0,0,0.5)
    }
    100%{
        background: rgba (0,0,0,0)
    }
}