@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
body{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.2rem;
    font-size: 100;
}

.logo{
    font-family: 'shrikhand', 'sans-serif';
}


%title-font-size{
    font-size: 1.8rem;
    font-weight: 900;
}

%button-font{
    font-size: 1.3rem;
    font-family: Roboto;
}

a{
    text-decoration: none;
    color: black;
}

h3{
    font-weight: 600;
}
