@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

.logo{
    font-family: 'shrikhand', 'sans-serif';
}

*{
    font-family: 'Roboto', 'sans-serif';
    font-size: 2vh;
}