.menu{
    margin: 0 1em;
    padding: 1em;
    padding-bottom: 3em;
    &__title{
        @extend %title-font-size;
    }
}

.restaurants{
    margin-top: 2em;
    padding: 1em;
    background-color: $bckgrd-clr-gray;
    &__title{
        @extend %title-font-size;
    }
    .restaurants__cards{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;


    }
    .card{
        display: flex;
        flex-direction: column;
        margin: 1em;
        background-color: #FFFFFF;
        border-radius: 25px;
        position: relative;
        @include box-shadow(#E5E5E5);
        width: 300px;
        &__img{
            border-radius: 25px 25px 0 0px;
            object-fit: cover;
            object-position: center;
            height: 200px;;
        }
        &__banner{
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 1em;
        }
        .card__heart{
            margin: auto 0;
        }
        
        &:hover{
            @include box-shadow-hover(#E5E5E5);
        }
    }
    .notif{
        @extend %notif;
    }
}