
section.menu{
    padding: 1em;
    padding-bottom: 3em;
    .menu__title{
        @extend %title-font-size;
    }
    .running__card{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        @include desktop{
            justify-content: space-evenly;
            padding: 0 5%;
        }
        .etape{
            position: relative;
            margin: 1em 2%;
            width: 300px;
            @include tablet{
                width: 350px;
            }
        }
        .btn__nbr{
            background-color: $color-primary;
            border-radius: 100%;
            padding: 2px 7px;
            width: fit-content;
            position: absolute;
            color: #FFF;
            top: 1.6em;
            left: -10px;
        }
        .menu__button{
            width: 300px;
            @include tablet{
                width: 350px;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            padding: 1.3em;
            background-color: $bckgrd-clr-gray;
            border: none;
            border-radius: 20px;
            @include box-shadow($bckgrd-clr-dgray);
            font-size: 19px;
            .fas{
                color: #7E7E7E;
            }
            .invis .fas{
                color: $bckgrd-clr-gray;
            }
            &:hover{
                @include box-shadow-hover($bckgrd-clr-dgray);
                background-color: lighten($color-primary, 35%);
                & .fas{
                    color: $color-primary;
                }
                & .invis .fas{
                    color: lighten($color-primary, 35%);
                }
            }
        }
    }
}

.restaurants{
    margin-top: 2em;
    padding: 1em;
    background-color: $bckgrd-clr-gray;
    &__title{
        @extend %title-font-size;
    }
    .restaurants__cards{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;


    }
    .card{
        display: flex;
        flex-direction: column;
        margin: 1em;
        background-color: #FFFFFF;
        border-radius: 25px;
        position: relative;
        @include box-shadow(#E5E5E5);
        width: 300px;
        &__img{
            border-radius: 25px 25px 0 0px;
            object-fit: cover;
            object-position: center;
            height: 200px;;
        }
        &__banner{
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 1em;
        }
        &__txt{
            margin: auto 0;
        }
        .card__heart{
            margin: auto 0;
        }
        
        &:hover{
            @include box-shadow-hover(#E5E5E5);
        }
    }
    .notif{
        @extend %notif;
    }
}