.menu__body{
    background-color: $bckgrd-clr-gray;
    header{
        background-color: white;
    }
}

.page__section{
    position: relative;
    top: -50px;
    border-radius: 25px 25px 0 0;
    background-color: $bckgrd-clr-gray;
    padding: 1em;
    .title{
        display: flex;
        justify-content: space-between;
        padding-right: 1em;
        padding-bottom: 1em;        
        h1{
            @extend %restaurant-name;
        }
        p{
            margin: auto 0;
        }
    }
    h2::before{
        content: "";
        position: absolute;
        background-color: $color-tertiary;
        width: 35px;
        height: 3px;
        bottom: 3px;
    }
    .menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        &__menu{
            width: 350px;
            margin: 5px;
            @include desktop{
                width: 30%;
            }
            .menu__card{
                background-color: white;
                margin: 1em 0;
                padding: 1em 0.8em;
                border-radius: 20px;
                display: grid;
                grid-template-areas: "title ." "description price";
                grid-template-columns: auto auto;
                grid-gap: 5px;
                @include box-shadow(#E8E8E8);
                .menu__card--title{
                    grid-area: title;
                    font-weight:600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .menu__card--description{
                    grid-area: description;
                    font-weight: 200;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .menu__card--price{
                    grid-area: price;
                    justify-self: end;
                    font-weight: 600;
                }
            }
        }
    }
    .order__btn{
        text-align: center;
        padding-top: 1em;
    }
}