footer{
    background-color: #353535;
    color: #fff;
    padding: 1em;
    .logo{
        margin-bottom: 2vh;
        font-size: 1.5em;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .fa-utensils{
        padding-right: 16px;
    }
    .fa-hands-helping{
        padding-right: 8px;
    }
    
    @include tablet{
        ul{
            display:flex;
            justify-content: space-between;
            padding-bottom: 1em;
        }
    }
    @include desktop{
        padding: 1em 10%;
    }
}

