footer{
    background-color: #353535;
    color: #fff;
    padding: 2vw;
    .logo{
        margin-bottom: 2vh;
        font-size: 2.5vh;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .fa-utensils{
        padding-right: 15px;
    }
    .fa-hands-helping{
        padding-right: 8px;
    }
    
}

