.header__logo{
    text-align: center;
    padding: 3vh 25vw;    
}

nav{
    text-align: center;
}

.loc{
    text-align: center;
    background-color: #EAEAEA;
    padding: 2vh 0;
    .fas{
        position: relative;
        right: 10vw;
    }
}