.header__logo{
    text-align: center;
    padding: 3vh 25vw;
    @include box-shadow(#d2d2d2);    
    position: relative; /** pour faire apparaitre l'ombre **/
}

.nav{
    text-align: center;
    padding: 3rem ;
    background-color: $bckgrd-clr-gray;
    h1{
        @extend %title-font-size;
    }
    p{
        color: #717171;
        padding: 1em 2em 2em 1em;
    }
    
}

.loc{
    text-align: center;
    background-color: $bckgrd-clr-dgray;
    padding: 2vh 0;
    font-weight: 600;
    color: #353535;
    .fas{
        position: relative;
        right: 3vw;
    }
}

.menu__pages{
    nav{
        display: flex;
        padding: 2vh 1em;        
        justify-content: space-between;
        a{
            margin: auto 0;
            font-size: 3vmax;
        }
        img{
            padding: 0 17vw;            
        }
    }
    .invis__menu{
        color: #FFF;
        font-size: 3vmax;
    }
    .rest__pic{
        width: 100%;
        height: 250px;
        object-fit: cover;


    }
}
